<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

<connectionStrings>
<add name="BANDIENTHOAIEntities" connectionString="metadata=res://*/DataContext.Model1.csdl|res://*/DataContext.Model1.ssdl|res://*/DataContext.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-32QQSE7C\SQLEXPRESS;initial catalog=BANDIENTHOAI;user id=sa;password=nguyenthang1306;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


</connectionStrings>
</configuration>
