@using BanDienThoai.Common

@{ 
    var session = (UserLogin)Session[CommonConstands.USER_SESSION];
}

@if (session == null)
{
    <div>
        <span><a href="~/dang-nhap">??ng nh?p</a></span>
        <span><a href="~/dang-ky">??ng ký</a></span>
        <div class="clearfix"> </div>
    </div>
}
else
{
    <div>
        <span><a href="#">Welcome: @session.UserName</a></span>
        <span><a href="~/Account/Logout">??ng xu?t</a></span>
        <div class="clearfix"> </div>
    </div>
}
